@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <section class="style-4 about mb-100">
        <div class="header text-center">
            <small class="title_small bg-blue7 color-fff rounded-3 pe-2 ps-2 pt-1 pb-1 mb-4 mt-5" style="font-size:18.5px; font-weight:600;">About Our Company</small>
            <h1 class="mb-30 lh-base">
                We are the perfect <br /> managment system for any
                <span style=" -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);"> Startups  </span>
            </h1>
            <small>Click4Karmachari - The Best and Easy Employee Management system</small>
        </div>
        <div class="integration">
            <div class="container">
                <div class="content mb-60 pb-60 border-1 border-bottom brd-gray">
                    <div class="img">
                        <img src="~/Content/assets/img/icons/employee.png" alt="">
                    </div>
                    <div class="img">
                        <img src="~/Content/assets/img/icons/assets.png" alt="" class="mt-30">
                    </div>
                    <div class="img">
                        <img src="~/Content/assets/img/icons/leave.png" alt="" class="mt-80">
                    </div>
                    <div class="img">
                        <img src="~/Content/assets/img/icons/expense.png" alt="" class="mt-60">
                    </div>
                    <div class="img">
                        <img src="~/Content/assets/img/icons/documents.png" alt="" class="mt-20">
                    </div>
                    <div class="img">
                        <img src="~/Content/assets/img/icons/task.png" alt="">
                    </div>
                </div>
            </div>
            <img src="~/Content/assets/img/about/intg_back.png" alt="" class="intg-back" />
        </div>
    </section>
    <section class="style-4">
        <div class="content">
            <div class="container body-3-1">
                <div class="about-data row mt-100 mb-150 justify-content-between">
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/about/2.png" alt="">
                    </div>
                    <div class="col-lg-5 part-2">
                        <small class="title_small bg-blue7 color-fff fw-bold rounded-3 p-2 mb-2" style="font-size:18.5px;">ABOUT CLICK4KARMCHARI</small>
                        <h1 class="mb-30 lh-base">
                            Click4karmachari for
                            <span style="-webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%)">your bussiness</span>
                        </h1>
                        <small class="text fs-14px mb-30">
                            Click4Karmchari is a platform where all work-related as well as important personal details of an employee is stored and managed in a secure way.By using this system, you can manage admin activities in an easier and quicker way.
                        </small>
                        <ul>
                            <li class="d-flex align-items-baseline mb-3">
                                <small class="icon-30 rounded-circle color-blue4 d-inline-flex align-items-start justify-content-start me-3">
                                    <i class="fas fa-circle color-blue7 me-2 mt-2"></i>
                                </small>
                                <h6 class="fw-bold fs-15px">This platform is responsible to improve engagement and overall, employee experience, Automate performance review reporting.</h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-3">
                                <small class="icon-30 rounded-circle color-blue4 d-inline-flex align-items-start justify-content-start me-3">
                                    <i class="fas fa-circle color-blue7 me-2 mt-2"></i>
                                </small>
                                <h6 class="fw-bold fs-15px">With its time tracking decision-making becomes easier. It prevents any type of error in a record. Managing time entries and Work logins. </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-3">
                                <small class="icon-30 rounded-circle color-blue4 d-inline-flex align-items-start justify-content-start me-3">
                                    <i class="fas fa-circle color-blue7 me-2 mt-2"></i>
                                </small>
                                <h6 class="fw-bold fs-15px">Click4Karmachari lets you download/ generate reports of all the required parameter like Punch Details, Asset Movement Details, Project Details & Assign project task to employees, Expense Reports.</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <img src="~/Content/assets/img/about/about_s4_bubble.png" alt="" class="bubble2" style=" -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; z-index: -1; position: absolute; top: 800px; width: 50%; max-width: unset; max-height: unset; -webkit-animation: rotate-center 100s linear infinite both; animation: rotate-center 100s linear infinite both;">
            <img src="/Content/assets/img/about/about_s4_lines.png" alt="" class="lines" style=" -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; z-index: -1; position: absolute; top: 700px; width: 45%; max-width: unset; max-height: unset;">
        </div>
    </section>
    <section class="about pt-0 pb-60 style-5">
        <div class="content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="img main-img2">
                            <img src="~/Content/assets/img/about/007.png" alt="">
                            <img src="~/Content/assets/img/about/005.png" alt="" class="img-body">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="section-head style-4">
                            <small class="title_small mb-0 fs-3">MANAGE MODULES</small>
                        </div>
                        <ul class="list-icon mt-30">
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Time & Attendance
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Employee Details
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Leave management
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Generate Document
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Project Details & Assign Project Task
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Important Document
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Assets Movement
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Expense Report
                                </h6>
                            </li>
                            <li class="d-flex align-items-baseline mb-20">
                                <i class="fas fs-5 fa-circle color-blue7 me-3 mt-2"></i>
                                <h6 class="fs-5">
                                    Resignation Modules
                                </h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="style-4 bg-gray5">
        <div class="content">
            <div class="container pb-100">
                <div class="header text-center mb-50">
                    <div class="section-head style-4 pt-100">
                        <small class="title_small mb-0 fs-3">OUR BENEFITS</small>
                    </div> <br />
                    <small class="text fs-14px">Why you should choose Click4Karmchari?</small>
                </div>
                <div class="row justify-content-center align-baseline item center">
                    <div class="col-4">
                        <a href="/Home/Modules" class="features-card mb-30 style-5">
                            <div class="icon">
                                <img src="~/Content/assets/img/icons/easy2.png" alt="">
                            </div>
                            <div class="info">
                                <h5 class="card-title">
                                    Easy To Use
                                </h5>
                                <p class="text">
                                    Run Click4Karmchari quickly and easily on desktop or mobile.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="features-card mb-30 style-5">
                            <div class="icon">
                                <img src="~/Content/assets/img/icons/schedule2.png" alt="">
                            </div>
                            <div class="info">
                                <h5 class="card-title">
                                    Time & Attendence
                                </h5>
                                <p class="text">
                                    Attract and retain talent by offering retirement and group health plans.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/Home/Modules" class="features-card mb-30 style-5">
                            <div class="icon">
                                <img src="~/Content/assets/img/icons/growth.png" alt="">
                            </div>
                            <div class="info">
                                <h5 class="card-title">
                                    Benefits
                                </h5>
                                <p class="text">
                                    Boost productivity with the latest timekeeping technology.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/Content/assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="/Content/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="/Content/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/js/lib/wow.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.fancybox.js"></script>
    <script src="/Content/assets/js/lib/lity.js"></script>
    <script src="/Content/assets/js/lib/swiper.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.counterup.js"></script>

    <script src="/Content/assets/js/lib/scrollIt.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
</main>