
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="style-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="info">
                    <h1>
                        <!--All-in-one dashboard for-->
                        <span>
                            Admin Panel
                            <img src="/Content/assets/img/header/head5_line.png" alt="" class="head-line">
                            <img src="/Content/assets/img/header/head5_pen.png" alt="" class="head-pen">
                        </span>
                    </h1>
                    <p>
                        Click4Karmachari helps you unify your brand identity by collecting, storing and distributing <br> design
                        tokens and assets — automatically.
                    </p>
                    <form action="https://smartinnovates.com/items/iteck/html/contact.php" class="form" method="post">
                        <div class="form-group">
                            <span class="icon">
                                <i class="far fa-envelope"></i>
                            </span>
                            <input type="text" placeholder="Your email address">
                            <a href="/Home/Contact" class="btn rounded-pill hover-blue2 sm-butn fw-bold text-white" style="background: #012e58;">
                                <span>Start Free Trial <i class="bi bi-arrow-right ms-1"></i> </span>
                            </a>
                        </div>
                    </form>
                    <div class="main-img">
                        <img src="/Content/assets/img/header/header5_page.png" alt="" class="page-img">
                        <img src="/Content/assets/img/header/header5_linechart.png" alt="" class="linechart-img">
                        <img src="/Content/assets/img/header/header5_piechart.png" alt="" class="piechart-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/Content/assets/img/header/header5_handl.png" alt="" class="handl-img">
    <img src="/Content/assets/img/header/header5_handr.png" alt="" class="handr-img">
</header>
<section style="padding: 50px 0px;">
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <div class="img img-left">
                    <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-head long-shape mb-30 style-3">
                    <h3> <span>Register and Login </span></h3>
                </div>
                <ul>
                    <li class="d-flex pt-30 pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Click4Karmachari - Monitoring employee work, project tasks & many more.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            This portal helps to save time & track accurate attendance.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Only HR registered through company details and then he/she registered company employees and employees use this application for their all facilities.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            First, register your company name, phone number, password, etc.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            After registration read the terms and conditions then continue on the login page.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Then enter your registered mobile number and Password, and log in to your page.
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="section-head long-shape mb-30 style-3">
                    <h3> <span>Dashboard </span></h3>
                </div>
                <ul>
                    <li class="d-flex mt-15 mb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Here you can check all modules which available directly.
                        </h6>
                    </li>
                    <li class="d-flex mb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Attendance is also available in the dashboard.
                        </h6>
                    </li>
                    <li class="d-flex mb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Like leave, employee, voucher request, Advanced request, etc.
                        </h6>
                    </li>
                    <li class="d-flex mb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            And also you check your profile on the right side and sign out.
                        </h6>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
            <div class="col-lg-5">
                <div class="info">
                    <div class="section-head long-shape mb-30 style-3">
                        <h3> <span>Employees </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Add complete employee details like personal details, experience, bank details, etc.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Also, you can activate and deactivate employees and edit the details of the employees.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Also, know the total employees working in your company.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 mt-30 style-3">
                        <h3><span>Assets</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                In this what assets are used in your company all details we mention here and add your new assets here.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="info">
                    <div class="section-head mb-30 style-3">
                        <h3><span>Projects</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here which projects you are working on you can add and also check their details who assigned here.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 style-3">
                        <h3><span>Task</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here employees add their tasks and also add their project’s name.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Admin also checks their daily task with employees’ names and with a date.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                In the employee’s task, you check the complete month task and date to date.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
            <div class="col-lg-5">
                <div class="info">
                    <div class="section-head long-shape mb-30 style-3">
                        <h3> <span>Resignation </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                If any employees need to resign they can add a resignation date and relieve automatic came according to your company policy.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 mt-30 style-3">
                        <h3><span>Event</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here admin adds what events are going next related to the employee like work anniversary, Birthday, etc.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 mt-30 style-3">
                        <h3><span>Notice Board</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                The Notice board is only used for admin he/she only changes the notice board.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                We add whatever important notice we want to tell the employee.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="info">
                    <div class="section-head mb-30 style-3">
                        <h3><span>Attendance</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here admin checks employee punching time with the date.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Also, the admin checks monthly punching attendance reports.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 style-3">
                        <h3><span>Leave</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Admin adds direct employees’ leave and also checks who want leave. So the admin has the right if he wants to approve the leave of that employee or not. This authority only has admin.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
            <div class="col-lg-5">
                <div class="info">
                    <div class="section-head long-shape mb-30 style-3">
                        <h3> <span>Vouchers </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here employee asks for a voucher so the admin approves the voucher here. It depends on the employee’s voucher money and how much he/she wants.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 mt-30 style-3">
                        <h3><span>Document</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here admin Generates a new document, a List of documents, and an important document.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head mb-30 mt-30 style-3">
                        <h3><span>Master</span></h3>
                    </div>
                    <ul>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here check how many Assets are available in your company.
                            </h6>
                        </li>
                        <li class="d-flex">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Same City, Designation, leave, event, etc.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="projects style-6">
    <div class="content section-padding">
        <div class="container">
            <div class="section-head mb-40 d-flex justify-content-between align-items-center style-6">
            </div>
            <div class="slider-3items slider-style-6">
                <div class="swiper-container pb-70 swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">e-Commerce Dashboard</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/4.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">Okpay E-Wallet Optimized</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="3" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">e-Commerce Dashboard</a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/4.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">Okpay E-Wallet Optimized</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
            </div>
        </div>
    </div>
</section>
<section class="download section-padding style-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="content text-center">
                    <h2>
                        Manage your ecommerce business better with an all-in-one
                        <span>
                            dashboard
                            <img src="/Content/assets/img/header/head5_line.png" alt="" class="head-line">
                            <img src="/Content/assets/img/header/head5_pen.png" alt="" class="head-pen">
                        </span>
                        today
                    </h2>

                </div>
            </div>
        </div>
    </div>
</section>
<script src="/Content/assets/js/lib/jquery-3.0.0.min.js"></script>
<script src="/Content/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
<script src="/Content/assets/js/lib/bootstrap.bundle.min.js"></script>
<script src="/Content/assets/js/lib/wow.min.js"></script>
<script src="/Content/assets/js/lib/jquery.fancybox.js"></script>
<script src="/Content/assets/js/lib/lity.js"></script>
<script src="/Content/assets/js/lib/swiper.min.js"></script>
<script src="/Content/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="/Content/assets/js/lib/jquery.counterup.js"></script>

<script src="/Content/assets/js/lib/scrollIt.min.js"></script>
<script src="/Content/assets/js/main.js"></script>

