@{
    ViewBag.Title = "Contact";
}
<main>
    <section class="community section-padding style-5">
        <div class="container">
            <div class="section-head text-center style-4 mb-40">
                <small class="title_small">Contact us</small>
                <h2 class="mb-20">Get In  <span> Touch </span> </h2>
                <p>
                    Don’t Hesitate To
                    Contact Us
                </p>
            </div>
            <div class="content rounded-pill">
                <div class="commun-card">
                    <div class="icon icon-45">
                        <img src="/Content/assets/img/icons/mail3d.png" alt="">
                    </div>
                    <div class="inf">
                        <a href="mailto:support@Click4Karmchari.com">support@Click4Karmchari.com</a>
                    </div>
                </div>
                <div class="commun-card">
                    <div class="icon icon-45">
                        <img src="/Content/assets/img/icons/map3d.png" alt="">
                    </div>
                    <div class="inf">
                        <a href="#">607, 7X BusinessHub, College <br /> Road, Bholav, Bhaurch.</a>
                    </div>
                </div>
                <div class="commun-card">
                    <div class="icon icon-45">
                        <img src="/Content/assets/img/icons/msg3d.png" alt="">
                    </div>
                    <div class="inf">
                        <a href="tel:+91-9558675542">+91-9558675542</a><br />
                        <a href="tel:+91-9033772134">+91-9033772134</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact section-padding pt-0 style-6">
        <div class="container">
            <div class="content">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <form action="https://smartinnovates.com/items/iteck/html/contact.php" class="form" method="post">
                            <p class="text-center text-danger fs-12px mb-30">The field is required mark as *</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" class="form-control" placeholder="Email Address *" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" class="form-control" placeholder="Phone Number (option)" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mb-20">
                                        <input type="text" class="form-control" placeholder="Your Website (option)" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea rows="10" class="form-control" placeholder="How can we help you?" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="form-check d-inline-flex align-items-center mt-30 mb-30">
                                        <input class="form-check-input me-2 mt-0" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label small" for="flexCheckDefault">
                                            By submitting, i’m agreed to the <a href="#" class="text-decoration-underline">Terms & Conditons</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <a href="#" class="btn rounded-pill bg-blue4 fw-bold text-white">
                                        <small> Send Your Request </small>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <img src="/Content/assets/img/icons/contact_a.png" alt="" class="contact_a">
                <img src="/Content/assets/img/icons/contact_message.png" alt="" class="contact_message">
            </div>
        </div>
    </section>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59306.26374570508!2d73.00269300000001!3d21.716643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x18e6945570ccd720!2sMBH%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sus!4v1581660307592!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</main>