
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="style-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="info">
                    <h1>
                        <!--All-in-one dashboard for-->
                        <span>
                            Employee Panel
                            <img src="/Content/assets/img/header/head5_line.png" alt="" class="head-line">
                            <img src="/Content/assets/img/header/head5_pen.png" alt="" class="head-pen">
                        </span>
                    </h1>
                    <p>
                        Click4Karmachari helps you unify your brand identity by collecting, storing and distributing <br> design
                        tokens and assets — automatically.
                    </p>
                    <form action="https://smartinnovates.com/items/iteck/html/contact.php" class="form" method="post">
                        <div class="form-group">
                            <span class="icon">
                                <i class="far fa-envelope"></i>
                            </span>
                            <input type="text" placeholder="Your email address">
                            <a href="/Home/Contact" class="btn rounded-pill hover-blue2 sm-butn fw-bold text-white" style="background: #012e58;">
                                <span>Start Free Trial <i class="bi bi-arrow-right ms-1"></i> </span>
                            </a>
                        </div>
                    </form>
                    <div class="main-img">
                        <img src="/Content/assets/img/header/header5_page.png" alt="" class="page-img">
                        <img src="/Content/assets/img/header/header5_linechart.png" alt="" class="linechart-img">
                        <img src="/Content/assets/img/header/header5_piechart.png" alt="" class="piechart-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/Content/assets/img/header/header5_handl.png" alt="" class="handl-img">
    <img src="/Content/assets/img/header/header5_handr.png" alt="" class="handr-img">
</header>
<section style="padding: 50px 0px;">
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <div class="img img-left">
                    <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="section-head long-shape mb-2 style-3">
                    <h3> <span> Login </span></h3>
                </div>
                <ul>
                    <li class="d-flex pt-30 pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            We got a username and password from the company and then we log in to the page.
                        </h6>
                    </li>
                </ul>
                <div class="section-head long-shape mb-2 style-3">
                    <h3> <span> Dashboard </span></h3>
                </div>
                <ul>
                    <li class="d-flex pt-30 pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Here you can check all modules which available directly.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Attendance is also available in the dashboard.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Like leave, employee, voucher request, Advanced request, etc.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            And also you check your profile on the right side and sign out.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Also, we punch in and punch out from the dashboard.
                        </h6>
                    </li>
                    <li class="d-flex pb-15">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Also, employees check the notice board and events here.
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="section-head long-shape mb-2 style-3">
                    <h3> <span>Details </span></h3>
                </div>
                <ul>
                    <li class="d-flex mb-3 mt-5">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Employees check their details whatever the company mentions.
                        </h6>
                    </li>
                </ul>
                <div class="section-head long-shape mb-2 style-3">
                    <h3> <span>Leave </span></h3>
                </div>
                <ul>
                    <li class="d-flex mb-3 mt-5">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Employees add their leave according to company rules like LWPS, CL, PL, El, and SL and wait for approval or not.
                        </h6>
                    </li>
                </ul>
                <div class="section-head long-shape mb-2 style-3">
                    <h3> <span>Leave Approval </span></h3>
                </div>
                <ul>
                    <li class="d-flex mt-5">
                        <span class="icon">
                            <i class="fas fa-star me-3"></i>
                        </span>
                        <h6>
                            Employee leave approval or not he/she check here.
                        </h6>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-5">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
            <div class="col-lg-5">
                <div class="info">
                    <div class="section-head long-shape mb-2 style-3">
                        <h3> <span>Tasks </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex mb-3 mt-4">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Employees add their daily tasks.
                            </h6>
                        </li>
                        <li class="d-flex mb-3 mt-2">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Also, project tasks and reporting employee daily tasks.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head long-shape mb-2 style-3">
                        <h3> <span>Vouchers </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex mb-3 mt-4">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Here employee asks for a voucher so the admin approves the voucher here. It depends on the employee’s voucher money and how much he/she wants. Also, ask advance voucher request.
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head long-shape mb-2 style-3">
                        <h3> <span>Resignation </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex mt-4">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                If any employees need to resign they can add a resignation date and relieve automatic came according to your company policy.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row justify-content-end">
            <div class="col-lg-4">
                <div class="info">
                    <div class="section-head long-shape mb-2 style-3">
                        <h3> <span> Assets </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex pt-30 pb-15">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                In this what assets are used in your company all details, we check here.
                            </h6>
                        </li>
                        <li class="d-flex pb-15">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                If any employees need to resign they can add a resignation date and relieve automatic came according to your company policy.
                            </h6>
                        </li>
                        <li class="d-flex pb-15">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Documents
                            </h6>
                        </li>
                        <li class="d-flex pb-15">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Employees check their documents
                            </h6>
                        </li>
                    </ul>
                    <div class="section-head long-shape mb-2 style-3">
                        <h3> <span> Salary Slip </span></h3>
                    </div>
                    <ul>
                        <li class="d-flex pt-30 pb-15">
                            <span class="icon">
                                <i class="fas fa-star me-3"></i>
                            </span>
                            <h6>
                                Employees check, their salary slips monthly.
                            </h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/Content/assets/img/about/about_s5_1_2.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="projects style-6">
    <div class="content section-padding">
        <div class="container">
            <div class="section-head mb-40 d-flex justify-content-between align-items-center style-6">
            </div>
            <div class="slider-3items slider-style-6">
                <div class="swiper-container pb-70 swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">e-Commerce Dashboard</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/4.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">Okpay E-Wallet Optimized</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="3" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">e-Commerce Dashboard</a></h3>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/4.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">Okpay E-Wallet Optimized</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/5.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title">
                                        <a href="javascript:void(0);">e-Commerce Dashboard</a>
                                    </h3>
                                </div>
                            </div>
                        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" style="width: 430px;">
                            <div class="project-card style-6">
                                <div class="img">
                                    <img src="/Content/assets/img/projects/7.png" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="title"><a href="javascript:void(0);">MLB Store Instagram</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>
                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
            </div>
        </div>
    </div>
</section>
<section class="download section-padding style-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="content text-center">
                    <h2>
                        Manage your ecommerce business better with an all-in-one
                        <span>
                            dashboard
                            <img src="/Content/assets/img/header/head5_line.png" alt="" class="head-line">
                            <img src="/Content/assets/img/header/head5_pen.png" alt="" class="head-pen">
                        </span>
                        today
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/Content/assets/js/lib/jquery-3.0.0.min.js"></script>
<script src="/Content/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
<script src="/Content/assets/js/lib/bootstrap.bundle.min.js"></script>
<script src="/Content/assets/js/lib/wow.min.js"></script>
<script src="/Content/assets/js/lib/jquery.fancybox.js"></script>
<script src="/Content/assets/js/lib/lity.js"></script>
<script src="/Content/assets/js/lib/swiper.min.js"></script>
<script src="/Content/assets/js/lib/jquery.waypoints.min.js"></script>
<script src="/Content/assets/js/lib/jquery.counterup.js"></script>

<script src="/Content/assets/js/lib/scrollIt.min.js"></script>
<script src="/Content/assets/js/main.js"></script>


