@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="header">
        <div class="content">
            <div class="container">
                <div class="row mt-60">
                    <div class="col-lg-6 infor">
                        <small class="title_small mb-20">Easy Employee Management System</small>
                        <h1 class="mb-30 lh-base">
                            Click4Karmchari Monitoring
                            <span>Employee Works,</span> Project Task &
                            Many More.
                        </h1>
                        <div class="color-888">
                            <small class="fs-6">Click4Karmchari helps to save time & track accurate attendence.</small>
                            <small class="fs-6">LET's GET STARTED</small>
                        </div>
                        <div class="home-buttons d-flex align-items-center mt-60">
                            <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> <i class="fab fa-apple me-2 pe-2 pt-1 border-end"></i>Download Now</a>
                            <a href="https://youtu.be/pGbIOC83-So?t=21" data-lity class="play-btn">
                                <span class="icon me-2">
                                    <i class="fas fa-play ms-1"></i>
                                </span>
                                <strong class="small">View <br> Promotion</strong>
                            </a>
                        </div>
                        <span class="mt-50 me-5">
                            <small class="icon-30 bg-gray rounded-circle color-blue4 d-inline-flex align-items-center justify-content-center me-1">
                                <i class="fas fa-sync"></i>
                            </small>
                            <small class="text-uppercase">Free 14 Days Trial</small>
                        </span>
                        <span class="mt-50">
                            <small class="icon-30 bg-gray rounded-circle color-blue4 d-inline-flex align-items-center justify-content-center me-1">
                                <i class="fas fa-credit-card"></i>
                            </small>
                            <small class="text-uppercase">One time payment</small>
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/about/3.png" />
                    </div>
                </div>
                <img src="~/Content/assets/img/header/header_4_bubble.png" alt="" style="position: absolute; left: 0; top: 0; width: 100%; height: auto; z-index:-1; -o-object-fit: cover; object-fit: cover; -webkit-animation: rotate-center 100s linear infinite both; animation: rotate-center 100s linear infinite both;" />
            </div>
            <img src="~/Content/assets/img/header/header_4_wave.png" style="position:relative; margin-top:-160px; width: 100%; max-width: unset; -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; z-index: 20;" />
        </div>
    </section>
    <section class="body2 p-0 m-0">
        <div class="container">
            <div class="content text-center m-2">
                <div class="heading">
                    <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2">ONE PACKAGE</small>
                    <h3 class="pt-2">Manage the employee experience <span>from one platform.</span> </h3>
                </div>
                <div class="features-data d-flex justify-content-between mb-5">
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/employee.png" alt="">
                        </div>
                        <h6>Employee <br> Details</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/schedule.png" alt="">
                        </div>
                        <h6>Time <br> Scheduling</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/event1.png" alt="">
                        </div>
                        <h6>Attendance <br> Report</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/leave.png" alt="">
                        </div>
                        <h6>Employee <br> Leave</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/task.png" alt="">
                        </div>
                        <h6>Project <br>Task</h6>
                    </div>
                </div>
                <div class="features-data d-flex justify-content-between">
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/Assets.png" alt="">
                        </div>
                        <h6>Assets <br> </h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/Expense.png" alt="">
                        </div>
                        <h6>Expense<br></h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/Documents.png" alt="">
                        </div>
                        <h6>Generate  <br>Document</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/report1.png" alt="">
                        </div>
                        <h6>Important <br>Document</h6>
                    </div>
                    <div class="data">
                        <div class="icon img-contain">
                            <img src="~/Content/assets/img/icons/contract.png" alt="">
                        </div>
                        <h6>Resignation <br></h6>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/assets/img/feat_circle.png" alt="" class="img-circle">
    </section>
    <section class="body3 style-4">
        <div class="content">
            <div class="container body-3-1">
                <div class="about-data row mt-200 mb-150 justify-content-between">
                    <div class="col-lg-6">
                        <img src="~/Content/assets/img/about/2.png" alt="">
                    </div>
                    <div class="col-lg-5 part-2">
                        <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2 mb-2">INTRODUCING</small>
                        <h1 class="mb-30 lh-base">
                            Manage your workforce
                            <span>with ease</span>
                        </h1>
                        <div class="color-888">
                            <small class="fs-6">Click4Karmchari offers excellent flexibility to build an organizational structure to match its time-attendance hierarchy & offers high scalability and Monitoring Employee Works project task & Many more. Company or admin can generate reports based on project or tasks.</small>
                            <br />
                            <br />
                            <small class="fs-6">Using this system, they can decide and report the employee payments accordingly. Click4Karmchari is a simple way to calculate the working hours of an employee based on client, project and task.</small>
                        </div>
                        <div class="home-buttons d-flex align-items-center mt-60">
                            <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="~/Content/assets/img/about/about_s4_bubble.png" alt="" class="bubble2" style=" -o-object-fit: cover; object-fit: cover; -o-object-position: top; object-position: top; z-index: -1; position: absolute; top: 1750px; width: 60%; max-width: unset; max-height: unset; -webkit-animation: rotate-center 100s linear infinite both; animation: rotate-center 100s linear infinite both;">
            <img src="/Content/assets/img/about/about_s4_lines.png" alt="" class="lines">
        </div>
        <div class="container body-3-2">
            <div class="about-data-1 row justify-content-between">
                <div class="col-lg-7 part-2">
                    <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2 mb-4">WE DO MORE FOR YOUR WORLD</small>
                    <h2 class="mb-30 lh-base">
                        Delight your employees with
                        <span> online self-service app</span>
                    </h2>
                    <div class="row color-000">
                        <div class="col-lg-6">
                            <small class="title_small fs-4 fw-bold">Employee Details</small>
                            <small class="fs-14px lh-lg">Manage your all employee records like personal info,educational details & important documents.By using this system, you can manage admin activities in an easier and quicker way.Easy Acces To Information.</small>
                            <br />
                            <br />
                            <small class="fs-14px lh-lg">Employees can change their details from their mobile instantly.</small>
                            <div class="col-lg-6">
                                <div class="home-buttons d-flex align-items-center mt-40">
                                    <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <small class="title_small fs-4 fw-bold">Leave & Expense</small>
                            <small class="fs-14px lh-lg">Employees can apply for leaves from mobile app by selecting type of leave, leave duration (half day leave / full day leave / no. of days) and reason for taking leave. Auto leave carry-forward with custom rules</small>
                            <br />
                            <br />
                            <small class="fs-14px lh-lg">Employees can see compete details of leaves pending, approved, rejected, etc.</small>
                            <div class="col-lg-6">
                                <div class="home-buttons d-flex align-items-center mt-40">
                                    <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="~/Content/assets/img/about/1.png" height="100%" alt="">
                </div>
            </div>
            <img src="~/Content/assets/img/about/about_s4_bubble2.png" class="bubble2" style="width:60%;" />
        </div>
        <div class="container body-3-3 mt-100">
            <div class="about-data-1 row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="img mb-30 mb-lg-0">
                        <img src="~/Content/assets/img/about/05.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 part-2">
                    <div class="row color-000">
                        <div class="col-lg-6">
                            <small class="title_small fs-3 fw-bold">Time & Attendence</small>
                            <small class="fs-14px lh-lg">Employees can Punch in/out from their mobile devices and desktops with the click of a button, whether they are in office, or on the field.</small>
                            <div class="home-buttons d-flex align-items-center mt-20">
                                <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <small class="title_small fs-3 fw-bold">Important Document</small>
                            <small class="fs-14px lh-lg">Employees can see their important documents like joining leteer,resignation letter ,salary slip details etc.</small>
                            <div class="home-buttons d-flex align-items-center mt-20">
                                <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row color-000 mt-30">
                        <div class="col-lg-6">
                            <small class="title_small fs-3 fw-bold">Asset Movement</small>
                            <small class="fs-14px lh-lg">Employees can see their asset movement details.Employees can manage their assets records from mobile instantly.</small>
                            <div class="home-buttons d-flex align-items-center mt-30">
                                <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <small class="title_small fs-3 fw-bold">Project Task</small>
                            <small class="fs-14px lh-lg">In this module admin will add diffrent projects.In this module admin assign the tasks to the employess of the company.</small>
                            <div class="home-buttons d-flex align-items-center mt-30">
                                <a class="btn bg-light rounded-pill fs-12px border-blue7 bg-blue7 fw-bold color-fff me-4" href="#"> Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Content/assets/img/about/about_s4_bubble.png" class="bubble3" style="z-index:-1; position: absolute; top: 0; width: 70%; left: -150px; max-width: unset; max-height: unset; -webkit-animation: rotate-center 100s linear infinite both; animation: rotate-center 100s linear infinite both;" />
        </div>
    </section>
    <section>
        <div class="container testimonials style-4 body-3-5 mt-100">
            <div class="content">
                <div class="about-data-2 row justify-content-between align-items-center">
                    <div class="col-lg-5">
                        <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2 mb-4">Testimonals</small>
                        <h1 class="mb-30 lh-base">
                            Read what
                            <span style=" -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);"> our clients </span> are saying
                        </h1>
                        <small class="text">Notero loved from thoudsands customer worldwide and get trusted from big companies.</small>
                        <div class="numbs mt-30" style=" display: -webkit-box; display: -ms-flexbox; display: flex;">
                            <div class="num-card pe-5" style="border-right:1px solid">
                                <div class="icon img-contain" style="height: 55px; display: inline-block; margin-bottom: 15px;">
                                    <img src="~/Content/assets/img/icons/testi_s4_ic1.png" alt="">
                                </div>
                                <h2 style="color: var(--color-blue4);">10+</h2>
                                <p style="font-size: 11px; color: #666; margin-top: 5px;">Downloaded and <br> Installation</p>
                            </div>
                            <div class="num-card ms-5">
                                <div class="icon img-contain" style="height: 55px; display: inline-block; margin-bottom: 15px;">
                                    <img src="~/Content/assets/img/icons/testi_s4_ic2.png" alt="">
                                </div>
                                <h2 style="color: var(--color-blue4);">4.8/5</h2>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <p style="font-size: 11px; color: #666; margin-top: 5px;">Based on 9 reviews</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center mt-70">
                            <a href="https://www.apple.com/app-store/" class="btn rounded-pill bg-blue4 fw-bold text-white me-4" target="_blank">
                                <small> See Reviews On App Store </small>
                            </a>
                            <a href="https://youtu.be/pGbIOC83-So?t=21" data-lity class="play-btn">
                                <span class="icon me-2">
                                    <i class="fas fa-play ms-1"></i>
                                </span>
                                <strong class="small">View <br> Promotion</strong>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="testi-cards">
                            <div class="client_card">
                                <div class="user_img">
                                    <img src="~/Content/assets/img/testimonials/smile.png" alt="">
                                </div>
                                <div class="inf_content">
                                    <div class="stars mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h6>
                                        “Their service is excellent , pricing is affordable and customer support is good.”
                                    </h6>
                                    <p>Ms. Dipa Dalsania   <span class="text-muted"> /  Senior dotnet developer <!--<span>Brator</span>--> </span></p>
                                </div>
                            </div>
                            <div class="client_card">
                                <div class="user_img">
                                    <img src="~/Content/assets/img/testimonials/smile.png" alt="">
                                </div>
                                <div class="inf_content">
                                    <div class="stars mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h6>
                                        “You will never find a better software for the best price. We are extremely impressed with them.”
                                    </h6>
                                    <p>Mr. Vivek Bhagat  <span class="text-muted"> /  Frontend Developer  </span></p>
                                </div>
                            </div>
                            <div class="client_card">
                                <div class="user_img">
                                    <img src="~/Content/assets/img/testimonials/smile.png" alt="">
                                </div>
                                <div class="inf_content">
                                    <div class="stars mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h6>
                                        “We are very happy with the decision to switch to click4karmchari, and I am very pleased with the level of customer service provided.”
                                    </h6>
                                    <p>Mr. Mahesh Patel <span class="text-muted"> /  Designer </span></p>
                                </div>
                            </div>
                            <div class="client_card">
                                <div class="user_img">
                                    <img src="~/Content/assets/img/testimonials/smile.png" alt="">
                                </div>
                                <div class="inf_content">
                                    <div class="stars mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <h6>
                                        “This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.”
                                    </h6>
                                    <p>Ms. Axita Rana <span class="text-muted"> / Flutter Developer </span></p>
                                </div>
                            </div>
                            <!--<img src="assets/img/contact_globe.svg" alt="" class="testi-globe">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="style-4">
        <div class="content">
            <div class="container">
                <div class="text-center">
                    <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2 mb-4 mt-50">Pricing Plan</small>
                    <h1 class="mb-30 lh-base">
                        Start with
                        <span style=" -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);"> Affordable Price  </span>
                    </h1>
                </div>
                <div class="toggle_switch d-flex align-items-center justify-content-center mb-40">
                    <div class="form-check form-switch p-0">
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            <small>
                                Billed
                                Monthly
                            </small>
                        </label>
                        <input class="form-check-input float-none bg-blue4" type="checkbox"
                               id="flexSwitchCheckDefault" onclick="check()" ; checked>
                        <label class="form-check-label" for="flexSwitchCheckDefault">
                            <small>
                                Billed
                                Yearly
                            </small>
                        </label>
                    </div>
                </div>
                <div class="row justify-content-center border border-2" style="border-radius:20px;">
                    <div class="col-lg-6 p-5">
                        <h6 class="text-uppercase fs-14px" style="letter-spacing:1px"> <img src="~/Content/assets/img/icons/price_s4_1.png" alt="" class="icon">  basic Plan </h6>
                        <small class="fs-1 fw-bold">₹99</small><small class="fs6"> / month</small> <br />
                        <small class="color-777">Free 14 days trial, you can use over 20 basic features.</small>
                        <hr />
                        <div class="price-body py-4">
                            <ul>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="far fa-sticky-note"></i>
                                    </small>
                                    <p class="fw-bold">Write 5 Notes On Only iOS & Android</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-paperclip"></i>
                                    </small>
                                    <p class="fw-bold">Add Attachments, Tables, Codes and More To Your Notes</p>
                                </li>
                                <li class="d-flex align-items-center mb-3 op-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-lock"></i>
                                    </small>
                                    <p class="fw-bold">Protect Your Notes and Notebooks With Lock</p>
                                </li>
                                <li class="d-flex align-items-center mb-3 op-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-undo"></i>
                                    </small>
                                    <p class="fw-bold">Focus Mode and Dark Theme</p>
                                </li>
                                <li class="d-flex align-items-center op-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-download"></i>
                                    </small>
                                    <p class="fw-bold">Export to Text, PDF, HTML and Markdown formats</p>
                                </li>
                            </ul>
                            <a href="/Home/Contact" class="btn rounded-pill hover-blue4 fw-bold mt-50 px-5 border-blue4">
                                <small>Subscribe Plan</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 bg-gray p-5" style="border-top-right-radius:20px; border-bottom-right-radius:20px">
                        <h6 class="text-uppercase fs-14px" style="letter-spacing:1px"> <img src="~/Content/assets/img/icons/price_s4_2.png" alt="" class="icon">  premium Plan </h6>
                        <small class="fs-1 fw-bold">₹2500</small><small class="fs6"> / month</small> <br />
                        <small class="color-777">Experience all premium features and only one-time payment</small>
                        <hr />
                        <div class="price-body py-4">
                            <ul>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="far fa-sticky-note"></i>
                                    </small>
                                    <p class="fw-bold">Write 5 Notes On Only iOS & Android</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-paperclip"></i>
                                    </small>
                                    <p class="fw-bold">Add Attachments, Tables, Codes and More To Your Notes</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-lock"></i>
                                    </small>
                                    <p class="fw-bold">Protect Your Notes and Notebooks With Lock</p>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-undo"></i>
                                    </small>
                                    <p class="fw-bold">Focus Mode and Dark Theme</p>
                                </li>
                                <li class="d-flex align-items-center">
                                    <small class="icon-30 bg-blue4 rounded-circle text-white d-inline-flex align-items-center justify-content-center me-3 flex-shrink-0">
                                        <i class="fas fa-download"></i>
                                    </small>
                                    <p class="fw-bold">Export to Text, PDF, HTML and Markdown formats</p>
                                </li>
                            </ul>
                            <a href="/Home/Contact" class="btn rounded-pill bg-blue4 color-fff fw-bold mt-50 px-5 border-blue4">
                                <small>Subscribe Plan</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="style-4">
        <div class="content">
            <div class="container">
                <div class="header text-center mt-4">
                    <small class="title_small bg-blue7 color-fff fs-6 fw-bold rounded-3 p-2 mb-4 mt-50">REQUEST A MEETING</small>
                    <h1 class="mb-30 lh-base">
                        Lets meet with our expert
                        <span style=" -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);"> team members  </span>
                    </h1>
                </div>
                <div class="content">
                    <div class="faq style-3 style-4">
                        <div class="accordion" id="accordionSt4">
                            <div class="row gx-5 mb-100">
                                <div class="col-lg-6">
                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading12">
                                            <button class="accordion-button py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                                What is the purpose of an employee management system?
                                            </button>
                                        </h2>
                                        <div id="collapse12" class="accordion-collapse collapse show rounded-0" aria-labelledby="heading12" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                The helps to get all the data in one place in an organized way. It also helps in tracking and evaluating employee performance. EMS is also involved in goal tracking and attendance.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading13">
                                            <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                                                What does employee management software do?
                                            </button>
                                        </h2>
                                        <div id="collapse13" class="accordion-collapse collapse rounded-0" aria-labelledby="heading13" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                It helps you manage staff effortlessly. This helps in tracking working hours and attendance along with the location. The system stores this data and allows to use it for seamless and accurate payroll calculation. It also provides support for various performance management efforts in the company.  It also keeps a track of data like leaves, performance, payments and reimbursements.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading5">
                                            <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                                Can attendance management software be used for remote staff members?
                                            </button>
                                        </h2>
                                        <div id="collapse5" class="accordion-collapse collapse rounded-0" aria-labelledby="heading5" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                With this attendance management system, your employee can note their clock in and out time effortlessly. This application ESS portal is available to be installed on both android and iOS devices. It can be also accessed from a desktop computer and that does not have to be on your companies campus. It helps the employee to mark their working hours. They can also check their leave balance with a few clicks and the portability allows your on-field staff to register their attendance remotely with ease.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading6">
                                            <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                                Does Notero Support Storing Data on iCloud?
                                            </button>
                                        </h2>
                                        <div id="collapse6" class="accordion-collapse collapse rounded-0" aria-labelledby="heading6" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                Through the collaboration with customers in discussing needs and demand, we're able to attain <br> mutual understanding, gain customer trust to offer appropriate advice
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading7">
                                            <button class="accordion-button collapsed py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                                How Do I Change My Email or Password?
                                            </button>
                                        </h2>
                                        <div id="collapse7" class="accordion-collapse collapse rounded-0" aria-labelledby="heading7" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                Through the collaboration with customers in discussing needs and demand, we're able to attain <br> mutual understanding, gain customer trust to offer appropriate advice
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item border-bottom rounded-0">
                                        <h2 class="accordion-header" id="heading8">
                                            <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                                Can My Premium License Be Used For All Devices?
                                            </button>
                                        </h2>
                                        <div id="collapse8" class="accordion-collapse collapse rounded-0" aria-labelledby="heading8" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                Through the collaboration with customers in discussing needs and demand, we're able to attain <br> mutual understanding, gain customer trust to offer appropriate advice
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item border-0 rounded-0">
                                        <h2 class="accordion-header" id="heading9">
                                            <button class="accordion-button collapsed rounded-0 py-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                                Can I Lock My Note App?
                                            </button>
                                        </h2>
                                        <div id="collapse9" class="accordion-collapse collapse rounded-0" aria-labelledby="heading9" data-bs-parent="#accordionSt4">
                                            <div class="accordion-body">
                                                Through the collaboration with customers in discussing needs and demand, we're able to attain <br> mutual understanding, gain customer trust to offer appropriate advice
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="style-4 community mb-100">
        <div class="container">
            <div class="header text-center mt-4">
                <small class="title_small bg-blue7 color-fff rounded-3 pe-2 ps-2 pt-1 pb-1 mb-4 mt-50" style="font-size:18.5px; font-weight:600;">Partnering up with Influencers.</small>
                <h1 class="mb-30 lh-base">
                    Join Our
                    <span style=" -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: -webkit-gradient(linear, left top, right top, from(#501e9c), color-stop(30%, #8169f1), color-stop(30%, #8169f1), color-stop(73%, #a44cee), to(#ff847f)); background-image: -webkit-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: -o-linear-gradient(left, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%); background-image: linear-gradient(to right, #501e9c 0%, #8169f1 30%, #8169f1 30%, #a44cee 73%, #ff847f 100%);"> Social media  </span>
                </h1>
            </div>
            <div class="content">
                <a href="#" class="commun-card">
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="inf">
                        <h5>Facebook</h5>
                    </div>
                </a>
                <a href="#" class="commun-card">
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="inf">
                        <h5>Twitter</h5>
                    </div>
                </a>
                <a href="#" class="commun-card">
                    <div class="icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="inf">
                        <h5>linkedin</h5>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <script src="/Content/assets/js/lib/jquery-3.0.0.min.js"></script>
    <script src="/Content/assets/js/lib/jquery-migrate-3.0.0.min.js"></script>
    <script src="/Content/assets/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/js/lib/wow.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.fancybox.js"></script>
    <script src="/Content/assets/js/lib/lity.js"></script>
    <script src="/Content/assets/js/lib/swiper.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.waypoints.min.js"></script>
    <script src="/Content/assets/js/lib/jquery.counterup.js"></script>

    <script src="/Content/assets/js/lib/scrollIt.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
</main>